{{ define "main" }}
<div class="project-container">
    <section class="project-list">
        <h2>Projects</h2>
        <ul>
            {{ range (where .Site.RegularPages "Type" "project").ByDate.Reverse }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </section>
    <section class="project">
        <h2>{{ .Title }}</h2>
        
        {{ .Content }}

        <img alt="{{ .Params.alt_text }}" src="{{ .Params.image }}" class="project-image">

        <h3>Tech used</h3>
        <ul style="list-style: none; padding: 0;">           
            {{ range .Params.tech_used }}
                <li>{{ . | safeHTML }}</li>
            {{ end }}
        </ul>
        
    </section>   
</div>
{{ end }}

