{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ $url := printf "%s/%s/repos" .Site.Params.gh_url .Site.Params.gh_user }}
    {{ $remote := resources.GetRemote $url }}
    {{ $repos := $remote | transform.Unmarshal }}    
    <section class="oss">
        {{ range $repos }}        
        {{ if ne .name "alwoh" }} <!-- removes profile repo -->
                    {{ $imageFileName := (print .name ".png" ) }}   
                    {{ $imageAndPath := (print "opensource/" $imageFileName)}}
                    {{ $isThereAnImage := fileExists $imageAndPath }}    
                    {{ if $isThereAnImage }}
                       {{ $image := $.Page.Resources.GetMatch $imageFileName }}
                       <div class="oss-with-image">                           
                            <h3><a href="{{ .html_url}}">{{ .name }}</a></h3>
                            <p>{{ .description }}</p> 
                            <a href="{{ $image.RelPermalink }}">
                                <img src="{{ $imageFileName }}">
                            </a>
                            <p style="font-size: 14px;">Click for full-size image</p>
                        </div>
                    {{ else }}
                        <div class="oss-without-image">
                            <h3><a href="{{ .html_url}}">{{ .name }}</a></h3>
                            <p>{{ .description }}</p> 
                        </div>
                    {{ end }}                                                                                                                                        
            {{ end }}       
        {{ end }}
    </section>
    <img src="bookstore.png">
{{ end }}