<nav class="navbar">
  <ul class="nav--list">
    <a class="item" href="/">Home</a>
    <a class="item" href="/posts">Blog</a>
    <a class="item" href="/projects">Projects</a>
    <a class="item" href="/contact">Contact</a>
  </ul>
</nav>
<nav class="navbarMobile">
  <ul class="nav-links">
    <li><a href="/">HOME</a></li>
    <li class="separator">/</li>
    <li><a href="/posts">BLOG</a></li>
    <li class="separator">/</li>
    <li><a href="/projects">PROJECTS</a></li>
    <li class="separator">/</li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</nav>
